*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

[class^="col"]{
    text-align: center;
    height: 100px;
    width: 100%;
}

[class^="half"]{
    height: 50px;
    width: 100%;
}

[class^="half2"]{
    /*border: 2px solid chartreuse;*/
    height: 25px;
    width: 100%;
}

.b {
    background-color: white;
}

